@media (min-width: 539px) and (max-width: 768px)
{

    html, body
    {
        overflow-x: hidden;
    }

    .Header_wrapper
    {

    }

    #toggle
    {
        
    }
    
    .Burger
    {
        display: flex;
        flex-flow: column;
        background: none;
        border: none;
        width: 39px;
        height: 100%;
        margin: 10px;
    }
    
    #toggle:checked ~ .Header .Burger
    {
        display: flex;
        flex-flow: row nowrap;
        background: none;
        border: none;
        width: auto;
        height: 39px;
        margin: 10px;
    }
    
        .Header .Burger .Burger_icon
        {
            height: 3px;
            width: 30px;
            margin: 4px;
        }
    
        #toggle:checked ~ .Header .Burger .Burger_icon
        {
            height: 30px;
            width: 3px;
            margin: 4px;
        }
    
            .Header .Burger .Burger_icon.line-1
            {
                
            }
    
            #toggle:checked ~ .Header .Burger .Burger_icon.line-1
            {
                transform: rotate(50deg);
            }
    
            .Header .Burger .Burger_icon.line-2
            {
                
            }
    
            #toggle:checked ~ .Header .Burger .Burger_icon.line-2
            {
                opacity: 0;
            }
    
            .Header .Burger .Burger_icon.line-3
            {
                
            }
    
            #toggle:checked ~ .Header .Burger .Burger_icon.line-3
            {
                transform: rotate(130deg);
            }

        .Header_bg
        {

        }

            .Header
            {
                min-width: 500px;
                max-width: 700px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
            }

            #toggle:checked ~ .Header
            {
                min-width: 500px;
                max-width: 700px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                .Header_Title
                {
                    margin: 15px;
                }

                #toggle:checked ~ .Header .Header_Title
                {
                    margin: 10px;
                }

                .Header .Header_nav
                {
                    display: none;
                }

                #toggle:checked ~ .Header .Header_nav
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                    .Header_nav-item
                    {
                        margin: 5px;
                    }

                    .Header_nav-item:hover::after
                    {

                    }

    .Header_placeholder
    {

    }

    .mainBanner_wrapper
    {
        height: 120px;
    }

        .mainBanner_bg
        {
            height: 100%;
            display: flex;
            align-items: center;
        }

            .mainBanner_text
            {
                font-size: 36px;
            }

    .Requisites_wrapper
    {
        margin: 20px;
    }

        .Requisites
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 500px;
            max-width: 700px;
        }
            
            .Requisites_NP
            {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
                .Requisites_NP-logo
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                    .NP_logo
                    {
                        margin: 20px;
                        width: 75%;
                    }

                .Requisites_NP-title
                {
                    font-size: 24px;
                }

                .Requisites_NP-text
                {
                    font-size: 18px;
                    margin: 10px;
                }
                    
            .Requisites_divider
            {
                margin: 30px;
                width: 300px;
                height: 1px;
            }

            .Requisites_All
            {
                min-width: 500px;
                max-width: 700px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .Requisites_placeholder
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

                .Requisites_All-item
                {
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                }

                    .Requisites_All-icon-wp
                    {
                        
                    }
                        
                        .Requisites_All-icon
                        {
                            margin: 10px;
                        }

                        .Requisites_All-texticon
                        {
                            margin: 0px 5px;
                            width: 26px;
                        }

                    .Requisites_All-text-wp
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: left;
                        justify-content: center;
                    }

                        .Requisites_All-text
                        {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: normal;
                            letter-spacing: 0.02em;
                        }

        .Photos_wrapper
        {
            display: none;
        }

            .Photos
            {

            }

                .Photos_item
                {

                }

            
        .Map_wrapper
        {

        }

            .Map
            {

            }

    .Footer_wrapper
    {

    }

        .Footer_bg
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .Footer
            {
                display: flex;
                flex-direction: column;
            }

                .Footer_Title
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 15px;
                }

                .Footer_nav
                {
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                    .Footer_nav-item
                    {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: normal;
                        text-align: center;
                    }

}