@media (min-width: 769px) and (max-width: 1365px)
{

    html, body
    {

    }

    .Header_wrapper
    {
        display: flex;
        align-items: center;
        height: 50px;
    }

        #toggle
        {

        }

        .Burger
        {
            display: none;
        }

        #toggle:checked ~ .Burger
        {
            
        }

            .Burger_icon
            {

            }

        .Header_bg
        {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

            .Header
            {
                min-width: 700px;
                max-width: 1000px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }

                .Header_Title
                {
                    margin-left: 5%;
                }

                .Header_nav
                {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    margin-right: 5%;
                }

                    .Header_nav-item
                    {
                        margin: 10px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: normal;
                    }

                    .Header_nav-item:hover::after
                    {

                    }

    .Header_placeholder
    {

    }

    .mainBanner_wrapper
    {
        width: auto;
        height: 450px;
    }

        .mainBanner_bg
        {
            height: 100%;
            width: 100%;
        }
        .mainBanner_SL
        {
            margin: 20px 0px;
        }
            .mainBanner_Logo
            {
                padding-bottom: 3%;
            }
            .mainBanner_Text_logo
            {
                font-size: 30px;
            }

            .mainBanner_Text
            {
                width: 100%;
                font-style: normal;
                font-weight: bold;
                line-height: 40px;
                font-size: 22px;
                margin: 40px 0;
            }
            
                .mainBanner_Text-1
                {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    font-size: 38px;
                    margin: 5px;
                }

                    .mainBanner_Text-2
                    {
                        /* width: 100%; */
                        text-align: center;
                        font-size: 42px;
                        margin: 5px;
                    }
                
                .mainBanner_Text-3
                {
                    text-transform: uppercase;
                    font-size: 28px;
                    margin: 5px;
                }
                
            .mainBanner_Contacts
            {
                /* margin: 40px 0 0 0; */
            }

                .mainBanner_Mail
                {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: normal;
                }

                .mainBanner_Phone
                {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: normal;
                    text-align: center;
                }

                .mainBanner_Icons
                {
                    width: 75px;
                    display: flex;
                    justify-content: space-between;
                    margin: 10px;
                }

        .Services_bg
        {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .Services_wrapper
            {
                min-width: 700px;
                max-width: 1000px;
            }

                .Services_Title
                {
                    margin: 35px 0;
                    font-weight: bold;
                    font-size: 36px;
                }

                .Services_Body
                {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                    .Services_Item
                    {
                        width: 30%;
                    }

                        .Services_Item-Title
                        {
                            width: 70%;
                            font-weight: bold;
                            font-size: 24px;
                            text-align: center;
                        }

                        .Service_Item-Image
                        {
                            margin: 20px;
                            /* width: 90%; */
                            height: 215px;
                        }

                        .Services_Item-list
                        {
                            font-size: 20px;
                        }

                            .Services_Item-listitem
                            {
                            
                            }

                                .Icon-checked
                                {
                                
                                }

                                .Services_Item-text
                                {
                                
                                }


                    .Services_Item-divider
                    {
                        display: block;
                        width: 1px;
                        height: 250px;
                    }

                .Services_Buttons
                {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;
                    margin: 0 0 40px 0;
                }

                    .Services_Button-1
                    {
                        text-decoration: none;
                        margin: 10px;
                    }

                        .Services_Button-1_title
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: 800;
                            color: rgb(255,255,255);
                            border-radius: 20px;
                            border-style: none;
                            width: 200px;
                            padding: 0px 30px;
                            height: 40px;
                            margin: 5px;
                        }

                    .Services_Button-2
                    {
                        text-decoration: none;
                        margin: 10px;
                    }

                        .Services_Button-2_title
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: 800;
                            color: #1424C1;
                            border-radius: 20px;
                            border-style: none;
                            width: 200px;
                            padding: 0px 30px;
                            height: 40px;
                            margin: 5px;
                        }

            .Logos_bg
            {
                width: 100%;
            }

                .Logos_wrapper
                {
                    width: 100%;
                    padding: 5px 0;
                    display: flex;
                    /* flex-direction: column; */
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;
                }

                    .Logos_Item
                    {
                        width: 100%;
                        /* height: 100px; */
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                        .Logos_Item-image
                        {
                            width: 60%;
                        }

            .Ukraine_bg
            {
    
            }
                .Ukraine_wrapper
                {
                    padding: 3% 3%;
                    display: flex;
                    flex-flow: row nowrap;
                }
                    .Ukraine_Image
                    {
                        width: 60%;
                    }
                    .Ukraine_Text-wrapper
                    {
                        width: 40%;
                        padding: 5% 5%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                        .Ukraine_Title
                        {
                            text-align: center;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 34px;
                            line-height: normal;
                            margin: 15px 0 15px 0;
                        }
                        .Ukraine_Item
                        {
                            width: 100%;
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            /* justify-content: space-between; */
                        }
                            .Ukraine_Icon
                            {
                                height: 35px;
                                width: 35px;
                            }
                            .Ukraine_Item-text
                            {
                                margin: 10px 0 10px 10px;
                                display: flex;
                                flex-flow: row wrap;
                                align-items: left;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: normal;
                            }
                        .Ukraine_Button
                        {
                            text-decoration: none;
                            margin: 20px 0 0 0;
                        }
                            .Ukraine_Button_title
                            {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                cursor: pointer;
                                font-size: 18px;
                                font-weight: 800;
                                color: rgb(255,255,255);
                                border-radius: 20px;
                                border-style: none;
                                width: 200px;
                                padding: 0px 30px;
                                height: 40px;
                                margin: 5px; 
                            }

        .Advantages_bg
        {
            
        }
            .Advantages_wrapper
            {
                padding: 5% 10%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
            }
                .Advantages_Item
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 15px;
                }
                    .Advantages_Item-image
                    {
                        
                    }
                    .Advantages_Item-Title
                    {
                        margin: 10px;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: normal;
                        text-align: center;

                        color: #FFFFFF;
                    }
                    .Advantages_Item-Text
                    {
                        
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: normal;
                        text-align: center;

                        color: #FFFFFF;

                        opacity: 0.6;
                    }

            .Slider_bg
            {
                
            }
                .Slider_wrapper
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 5%;
                }
                    .Slider_Title
                    {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 36px;
                        line-height: normal;
                    }
                    .Slider_Text
                    {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: normal;
                        margin: 20px 0;
                    }

                    .Slider_container
                    {

                    }

                        .Slider
                        {
                            width: 50%;
                        }

                        .Slider_prev
                        {
                            width: 60px;
                        }

                        .Slider_next
                        {
                            width: 60px;
                        }





































    .Footer_wrapper
    {
        display: flex;
        align-items: center;

    }

        .Footer_bg
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .Footer
            {
                min-width: 700px;
                max-width: 1000px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }

                .Footer_Title
                {
                    margin-left: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .Footer_nav
                {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    margin-right: 5%;
                }

                    .Footer_nav-item
                    {
                        margin: 10px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: normal;
                    }

}