@media (min-width: 539px) and (max-width: 768px)
{

    html, body
    {
        overflow-x: hidden;
    }

    .Header_wrapper
    {

    }

    #toggle
    {
        
    }
    
    .Burger
    {
        display: flex;
        flex-flow: column;
        background: none;
        border: none;
        width: 39px;
        height: 100%;
        margin: 10px;
    }
    
    #toggle:checked ~ .Header .Burger
    {
        display: flex;
        flex-flow: row nowrap;
        background: none;
        border: none;
        width: auto;
        height: 39px;
        margin: 10px;
    }
    
        .Header .Burger .Burger_icon
        {
            height: 3px;
            width: 30px;
            margin: 4px;
        }
    
        #toggle:checked ~ .Header .Burger .Burger_icon
        {
            height: 30px;
            width: 3px;
            margin: 4px;
        }
    
            .Header .Burger .Burger_icon.line-1
            {
                
            }
    
            #toggle:checked ~ .Header .Burger .Burger_icon.line-1
            {
                transform: rotate(50deg);
            }
    
            .Header .Burger .Burger_icon.line-2
            {
                
            }
    
            #toggle:checked ~ .Header .Burger .Burger_icon.line-2
            {
                opacity: 0;
            }
    
            .Header .Burger .Burger_icon.line-3
            {
                
            }
    
            #toggle:checked ~ .Header .Burger .Burger_icon.line-3
            {
                transform: rotate(130deg);
            }

        .Header_bg
        {

        }

            .Header
            {
                min-width: 520px;
                max-width: 750px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
            }

            #toggle:checked ~ .Header
            {
                min-width: 520px;
                max-width: 750px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                .Header_Title
                {
                    margin: 15px;
                }

                #toggle:checked ~ .Header .Header_Title
                {
                    margin: 10px;
                }

                .Header .Header_nav
                {
                    display: none;
                }

                #toggle:checked ~ .Header .Header_nav
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                    .Header_nav-item
                    {
                        margin: 5px;
                    }

                    .Header_nav-item:hover::after
                    {

                    }

    .Header_placeholder
    {

    }

    .mainBanner_wrapper
    {
        width: auto;
        height: 350px;
    }

        .mainBanner_bg
        {
            height: 100%;
            width: 100%;
        }

            .mainBanner_Logo
            {
                display: none;
            }

            .mainBanner_Text
            {
                width: 100%;
                font-style: normal;
                font-weight: bold;
                line-height: 40px;
                font-size: 22px;
                margin: 30px 0;
            }
            
                .mainBanner_Text-1
                {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    font-size: 35px;
                    margin: 5px;
                }

                    .mainBanner_Text-2
                    {
                        /* width: 100%; */
                        text-align: center;
                        font-size: 38px;
                        margin: 5px;
                    }
                
                .mainBanner_Text-3
                {
                    text-transform: uppercase;
                    font-size: 25px;
                    margin: 5px;
                }
                
            .mainBanner_Contacts
            {
                /* margin: 40px 0 0 0; */
            }

                .mainBanner_Mail
                {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: normal;
                }

                .mainBanner_Phone
                {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: normal;
                    text-align: center;
                }

                .mainBanner_Icons
                {
                    width: 75px;
                    display: flex;
                    justify-content: space-between;
                    margin: 10px;
                }

                .Services_bg
                {
                
                }
    
                    .Services_wrapper
                    {
                        min-width: 520px;
                        max-width: 750px;
                    }
    
                        .Services_Title
                        {
                            margin: 25px 0;
                            font-weight: bold;
                            font-size: 36px;
                        }
    
                        .Services_Body
                        {
                        
                        }
    
                            .Services_Item
                            {
                            
                            }
    
                                .Services_Item-Title
                                {
                                    /* width: 60%; */
                                    font-weight: bold;
                                    font-size: 24px;
                                    text-align: center;
                                }
    
                                .Service_Item-Image
                                {
                                    margin: 20px;
                                    /* width: 90%; */
                                }
    
                                .Services_Item-list
                                {
                                    font-size: 20px;
                                }
    
                                    .Services_Item-listitem
                                    {
                                    
                                    }
    
                                        .Icon-checked
                                        {
                                        
                                        }
    
                                        .Services_Item-text
                                        {
                                        
                                        }
    
    
                            .Services_Item-divider
                            {
                                display: none;
                            }
    
                        .Services_Buttons
                        {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            margin: 0 0 40px 0;
                        }
    
                            .Services_Button-1
                            {
                                text-decoration: none;
                                margin: 5px;
                            }
    
                                .Services_Button-1_title
                                {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    cursor: pointer;
                                    font-size: 18px;
                                    font-weight: 800;
                                    color: rgb(255,255,255);
                                    border-radius: 20px;
                                    border-style: none;
                                    width: 200px;
                                    padding: 0px 30px;
                                    height: 40px;
                                    margin: 5px;
                                }
    
                            .Services_Button-2
                            {
                                text-decoration: none;
                                margin: 5px;
                            }
    
                                .Services_Button-2_title
                                {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    cursor: pointer;
                                    font-size: 18px;
                                    font-weight: 800;
                                    color: #1424C1;
                                    border-radius: 20px;
                                    border-style: none;
                                    width: 200px;
                                    padding: 0px 30px;
                                    height: 40px;
                                    margin: 5px;
                                }

            .Logos_bg
            {
                width: 100%;
            }

                .Logos_wrapper
                {
                    width: 100%;
                    padding: 20px 0;
                    display: flex;
                    /* flex-direction: column; */
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;
                }

                    .Logos_Item
                    {
                        width: 100%;
                        /* height: 100px; */
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                        .Logos_Item-image
                        {
                            width: 60%;
                        }

        .Ukraine_bg
        {

        }
            .Ukraine_wrapper
            {
                padding: 5% 15%;
            }
                .Ukraine_Image
                {
                    width: 100%;
                }
                .Ukraine_Text-wrapper
                {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                    .Ukraine_Title
                    {
                        text-align: center;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 34px;
                        line-height: normal;
                        margin: 15px 0 15px 0;
                    }
                    .Ukraine_Item
                    {
                        width: 100%;
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        /* justify-content: space-between; */
                    }
                        .Ukraine_Icon
                        {
                            height: 35px;
                            width: 35px;
                        }
                        .Ukraine_Item-text
                        {
                            margin: 10px 0 10px 10px;
                            display: flex;
                            flex-flow: row wrap;
                            align-items: left;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: normal;
                        }
                    .Ukraine_Button
                    {
                        text-decoration: none;
                        margin: 20px 0 0 0;
                    }
                        .Ukraine_Button_title
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: 800;
                            color: rgb(255,255,255);
                            border-radius: 20px;
                            border-style: none;
                            width: 200px;
                            padding: 0px 30px;
                            height: 40px;
                            margin: 5px; 
                        }  

            .Advantages_bg
            {
                
            }
                .Advantages_wrapper
                {
                    padding: 5% 10%;
                }
                    .Advantages_Item
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 15px;
                    }
                        .Advantages_Item-image
                        {
                            
                        }
                        .Advantages_Item-Title
                        {
                            margin: 10px;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: normal;
                            text-align: center;

                            color: #FFFFFF;
                        }
                        .Advantages_Item-Text
                        {
                            
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: normal;
                            text-align: center;

                            color: #FFFFFF;

                            opacity: 0.6;
                        }

            .Slider_bg
            {
                
            }
                .Slider_wrapper
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 5%;
                }
                    .Slider_Title
                    {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 36px;
                        line-height: normal;
                    }
                    .Slider_Text
                    {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: normal;
                        margin: 20px 0;
                    }

                    .Slider_container
                    {

                    }

                        .Slider
                        {
                            width: 75%;
                        }

                        .Slider_prev
                        {
                            width: 50px;
                        }

                        .Slider_next
                        {
                            width: 50px;
                        }






















    .Footer_wrapper
    {

    }

        .Footer_bg
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .Footer
            {
                display: flex;
                flex-direction: column;
            }

                .Footer_Title
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 15px;
                }

                .Footer_nav
                {
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                    .Footer_nav-item
                    {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: normal;
                        text-align: center;
                    }

}