@media (min-width: 769px) and (max-width: 1365px)
{

    html, body
    {

    }

    .Header_wrapper
    {
        display: flex;
        align-items: center;
        height: 50px;
    }

        #toggle
        {

        }

        .Burger
        {
            display: none;
        }

        #toggle:checked ~ .Burger
        {
            
        }

            .Burger_icon
            {

            }

        .Header_bg
        {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

            .Header
            {
                min-width: 700px;
                max-width: 1000px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }

                .Header_Title
                {
                    margin-left: 5%;
                }

                .Header_nav
                {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    margin-right: 5%;
                }

                    .Header_nav-item
                    {
                        margin: 10px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: normal;
                    }

                    .Header_nav-item:hover::after
                    {

                    }

    .Header_placeholder
    {

    }

    .mainBanner_wrapper
    {

    }

        .mainBanner_bg
        {

        }

            .mainBanner_text
            {
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                line-height: 150px;
            }


            





            .commonRail
            {
                width: 100%;
                background: #E8ECF0;
            }
                .commonRail_bg
                {
                    
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;
                }
                    .commonRail_image_wrapper
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 90%;
                    }
                        .commonRail_image
                        {
                            width: 70%;
                            margin: 30px;
                        }
        
                    .commonRail_Descr_container
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 80%;
                        padding: 30px;
                    }
                        .commonRail_Descr_Title
                        {
                            font-size: 28px;
                            margin: 20px;
                        }
                        .commonRail_Descr_Text
                        {
                            font-size: 18px;
                            margin-bottom: 20px;
                        }
        
            .injectionPump
            {
                width: 100%;
            }
                .injectionPump_bg
                {
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;
                }
                    .injectionPump_image_wrapper
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 90%;
                    }
                        .injectionPump_image
                        {
                            width: 70%;
                            margin: 30px;
                        }
        
                    .injectionPump_Descr_container
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 80%;
                        padding: 30px;
                    }
                        .injectionPump_Descr_Title
                        {
                            font-size: 28px;
                            margin: 20px;
                        }
                        .injectionPump_Descr_Text
                        {
                            font-size: 18px;
                            margin-bottom: 20px;
                        }









    .Footer_wrapper
    {
        display: flex;
        align-items: center;

    }

        .Footer_bg
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .Footer
            {
                min-width: 700px;
                max-width: 1000px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }

                .Footer_Title
                {
                    margin-left: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .Footer_nav
                {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    margin-right: 5%;
                }

                    .Footer_nav-item
                    {
                        margin: 10px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: normal;
                    }

}