@media (max-width: 539px)
{

    html, body
    {
        overflow-x: hidden;
    }
    table
    {

    }
    .Header_wrapper
    {

    }

    #toggle
    {
        
    }
    
    .Burger
    {
        display: flex;
        flex-flow: column;
        background: none;
        border: none;
        width: 39px;
        height: 100%;
        margin: 10px;
    }
    
    #toggle:checked ~ .Header .Burger
    {
        display: flex;
        flex-flow: row nowrap;
        background: none;
        border: none;
        width: auto;
        height: 39px;
        margin: 10px;
    }
    
        .Header .Burger .Burger_icon
        {
            height: 3px;
            width: 30px;
            margin: 4px;
        }
    
        #toggle:checked ~ .Header .Burger .Burger_icon
        {
            height: 30px;
            width: 3px;
            margin: 4px;
        }
    
            .Header .Burger .Burger_icon.line-1
            {
                
            }
    
            #toggle:checked ~ .Header .Burger .Burger_icon.line-1
            {
                transform: rotate(50deg);
            }
    
            .Header .Burger .Burger_icon.line-2
            {
                
            }
    
            #toggle:checked ~ .Header .Burger .Burger_icon.line-2
            {
                opacity: 0;
            }
    
            .Header .Burger .Burger_icon.line-3
            {
                
            }
    
            #toggle:checked ~ .Header .Burger .Burger_icon.line-3
            {
                transform: rotate(130deg);
            }

        .Header_bg
        {

        }

            .Header
            {
                min-width: 300px;
                max-width: 520px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
            }

            #toggle:checked ~ .Header
            {
                min-width: 300px;
                max-width: 520px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                .Header_Title
                {
                    margin: 15px;
                }

                #toggle:checked ~ .Header .Header_Title
                {
                    margin: 10px;
                }

                .Header .Header_nav
                {
                    display: none;
                }

                #toggle:checked ~ .Header .Header_nav
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                    .Header_nav-item
                    {
                        margin: 5px;
                    }

                    .Header_nav-item:hover::after
                    {

                    }

    .Header_placeholder
    {

    }

    .mainBanner_wrapper
    {
        height: 120px;
    }

        .mainBanner_bg
        {
            height: 100%;
            display: flex;
            align-items: center;
        }

            .mainBanner_text
            {
                font-size: 36px;
            }






            .commonRail
            {
                width: 100%;
                background: #E8ECF0;
            }
                .commonRail_bg
                {
                    
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                    .commonRail_image_wrapper
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 90%;
                    }
                        .commonRail_image
                        {
                            width: 70%;
                            margin: 20px;
                        }
        
                    .commonRail_Descr_container
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 80%;
                        padding: 30px;
                        padding-top: 0;
                    }
                        .commonRail_Descr_Title
                        {
                            font-size: 21px;
                            margin: 20px;
                        }
                        .commonRail_Descr_Text
                        {
                            font-size: 16px;
                            margin-bottom: 20px;
                        }
        
            .injectionPump
            {
                width: 100%;
            }
                .injectionPump_bg
                {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                    .injectionPump_image_wrapper
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 90%;
                    }
                        .injectionPump_image
                        {
                            width: 70%;
                            margin: 20px;
                        }
        
                    .injectionPump_Descr_container
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 80%;
                        padding: 30px;
                        padding-top: 0;
                    }
                        .injectionPump_Descr_Title
                        {
                            font-size: 21px;
                            margin: 20px;
                        }
                        .injectionPump_Descr_Text
                        {
                            font-size: 16px;
                            margin-bottom: 20px;
                        }






    .Footer_wrapper
    {

    }

        .Footer_bg
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .Footer
            {
                display: flex;
                flex-direction: column;
            }

                .Footer_Title
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 15px;
                }

                .Footer_nav
                {
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                    .Footer_nav-item
                    {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: normal;
                        text-align: center;
                    }

}