@media (min-width: 769px) and (max-width: 1365px)
{

    html, body
    {

    }

    .Header_wrapper
    {
        display: flex;
        align-items: center;
        height: 50px;
    }

        #toggle
        {

        }

        .Burger
        {
            display: none;
        }

        #toggle:checked ~ .Burger
        {
            
        }

            .Burger_icon
            {

            }

        .Header_bg
        {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

            .Header
            {
                min-width: 700px;
                max-width: 1000px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }

                .Header_Title
                {
                    margin-left: 5%;
                }

                .Header_nav
                {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    margin-right: 5%;
                }

                    .Header_nav-item
                    {
                        margin: 10px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: normal;
                    }

                    .Header_nav-item:hover::after
                    {

                    }

    .Header_placeholder
    {

    }

    .mainBanner_wrapper
    {

    }

        .mainBanner_bg
        {

        }

            .mainBanner_text
            {
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                line-height: 150px;
            }

    .Requisites_wrapper
    {
        min-width: 700px;
        max-width: 1000px;
    }

        .Requisites
        {
            padding: 5% 0%;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
        }
            
            .Requisites_ST
            {
                width: 49%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
                .Requisites_ST-logo
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                    .ST_logo
                    {
                        margin: 20px;
                        width: 75%;
                    }
                    
            .Requisites_divider
            {
                height: 200px;
                width: 1px;
            }

            .Requisites_All
            {
                width: 49%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 5%;
            }

            .Requisites_placeholder
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

                .Requisites_All-item
                {
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                }

                    .Requisites_All-icon-wp
                    {
                        
                    }
                        
                        .Requisites_All-icon
                        {
                            margin: 10px;
                        }

                        .Requisites_All-texticon
                        {
                            margin: 0px 5px;
                            width: 26px;
                        }

                    .Requisites_All-text-wp
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: left;
                        justify-content: center;
                    }

                        .Requisites_All-text
                        {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: normal;
                            letter-spacing: 0.02em;
                        }

        .Photos_wrapper
        {
            width: 100%;
            margin-bottom: 10px;
        }

            .Photos
            {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
            }

                .Photos_item
                {
                    width: 50%;
                }

            
        .Map_wrapper
        {

        }

            .Map
            {

            }

    .Footer_wrapper
    {
        display: flex;
        align-items: center;

    }

        .Footer_bg
        {
            display: flex;
            /* flex-flow: row nowrap; */
            flex-direction: column;
            align-items: center;
        }

            .Footer
            {
                min-width: 700px;
                max-width: 1000px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }

                .Footer_Title
                {
                    margin-left: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .Footer_nav
                {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    margin-right: 5%;
                }

                    .Footer_nav-item
                    {
                        margin: 10px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: normal;
                    }

}